
.header {
  display: flex;
  align-items: center; 
  justify-content: flex-start; 
  max-width: 1500px;
  margin-left: 125px;
  margin-top: 35px;
}


.espLogo {
  width: 175px; 
  margin-right: 20px; 
}


.topnav {
  background-color: rgb(53, 128, 179);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
}

.topnav a {
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgb(159, 46, 138);
  color: black;
}

.topnav a.active {
  background-color:  rgb(159, 46, 138);
  color: white;
}


.mtb2b {
  background-color: rgb(159, 46, 138);
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  border-radius: 15px;
  text-align: center;
  margin-left: 100px; 
  margin-right: 20px; 
  white-space: nowrap;
}


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body{
  background-color: rgba(99, 99, 99, 0.076);
}

.imgLogo{
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}

.title{
  text-align: center;
  color: rgb(159, 46, 138);
  font-weight: bold;
  font-size: 45px;
  margin-left: auto;
  margin-right: auto;
}

.textbox{
text-align: justify;
color: rgb(53, 128, 179);
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin-left: 350px;
margin-bottom: 25px;
}
.logo{
  margin-left: auto;
  margin-right: auto;
  width: 125px;
}


.display{
  width: 1000px;
}

.container{
  display: block;
  margin-left: 350px;
  margin-right: auto;
  margin-top: 35px;
}

.footer {
  background-color: rgb(159, 46, 138);
  padding: 50px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.copyright, .phone {
  font-weight: bolder;
  color: white;
}

.copyright{
  margin-left: 15px;
}

.email{
  margin-right: 25px;
}
